body {
    background-color: #1c1c1c;
    color: #f8f8fff0;
    font-family: 'courier', monospace;
    font-weight: 100;
}

#formacao {
    position: absolute;
    left: 300px;
    top: 150px;
}

#cursos {
    position: absolute;
    left: 690px;
    top: 150px;
    z-index: 0;
}

#box_form, #box_cursos {
    position: absolute;
    display:none;
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    background: #575769;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: 800;
    color: #d4cfcf;
    left: 340px;
    top: 124px;
    z-index: 1;
    opacity: 97%;
}

#text_cursos {
    margin-top: 70px;
}

#text_form {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

#formacao, #cursos {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: #7d7439;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: 800;
    color: #d4cfcf;
}
  
#formacao:hover, #cursos:hover {
    border: 1px solid black;
    transform: scale(1.05);
}
  
#formacao:active, #cursos:active {
    transform: scale(0.95) rotateZ(1.7deg);
}