.linha-L {
    position: absolute;
    left: 150px;
    width: 230px;
    height: 230px;
    background: linear-gradient(to top, #636368, #baa52f), 
                linear-gradient(to left,#636368, #baa52f);
    background-size: 20px 100%, 100% 20px;
    background-repeat: no-repeat;
    border-radius: 10%;
}

.linha-R {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 810px;
    width: 230px;
    height: 230px;
    background: linear-gradient(to bottom, #636368, #baa52f), 
                linear-gradient(to right,#636368, #baa52f);
    background-size: 20px 100%, 100% 20px;
    background-repeat: no-repeat;
    border-radius: 10%;
    background-position: bottom right, bottom right;
}