body {
    background-color: #1c1c1c;
    color: #f8f8fff0;
    font-family: 'courier', monospace;
    font-weight: 100;
}

#voltar {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #f8f8fff0;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #494747;
    color: #f8f8fff0;
}
   
#voltar > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}
   
#voltar:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}
   
#voltar:hover {
    box-shadow: 9px 9px 33px #4b4d2a, -9px -9px 33px #3b3b55;
    transform: translateY(-2px);
}

#formacao {
    position: absolute;
    left: 300px;
    top: 150px;
}

#cursos {
    position: absolute;
    left: 690px;
    top: 150px;
    z-index: 0;
}

#box_form, #box_cursos {
    position: absolute;
    display:none;
    box-sizing: border-box;
    width: 700px;
    height: 400px;
    background: #575769;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: 800;
    color: #d4cfcf;
    left: 243px;
    top: 80px;
    z-index: 1;
    opacity: 97%;
}

#text_cursos {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 100px; 
    margin-bottom: 20px;
}

#text_form {    
    margin-top: 100px;
    margin-left: 20px; 
    margin-right: 100px; 
    margin-bottom: 20px; 
}

#formacao, #cursos {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: #7d7439;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: 800;
    color: #d4cfcf;
}
  
#formacao:hover, #cursos:hover {
    border: 1px solid black;
    transform: scale(1.05);
}
  
#formacao:active, #cursos:active {
    transform: scale(0.95) rotateZ(1.7deg);
}